DEFAULT_BORDER_COLOR = #ccc
DEFAULT_BORDER = 1px solid DEFAULT_BORDER_COLOR

.etd-components__cell
  background: #fff
  h2
    font-size: 14px
    line-height: 30px
    margin: 0px
    padding: 0px

.etd-components__card
  padding: 15px
  border: DEFAULT_BORDER
  border-radius: 5px
  box-shadow: 1px 1px 1px DEFAULT_BORDER_COLOR

.etd-components__judgement-fieldset
  label
    display: block
